#wrapper {
    width: 100%;
    /*overflow-x: hidden;*/
}
.tmsSidebar{
    display: block;
}
.tmsNavbar {
    background: #2f4050;
    z-index: 101;
    position: absolute;
    height: 100%;
    width: 220px;
}
#page-wrapper{
    position: absolute;
    left: 220px;
    height: 100%;
    /*max-width: 100%;*/
}
.nav > li > a {
    color: #a7b1c2;
    /*font-weight: 600;*/
    padding: 8px 20px 8px 25px;
}


.nav.navbar-right > li > a {
    color: #999c9e;
}
.nav > li.active > a {
    color: #ffffff;
}
.navbar-default .nav > li > a:hover,
.navbar-default .nav > li > a:focus {
    background-color: #293846;
    color: white;
}
.nav.navbar-top-links > li > a:hover,
.nav.navbar-top-links > li > a:focus {
    background-color: #ececec;
}
.nav > li > a i {
    margin-right: 6px;
}
.navbar {
    border: 0;
}
.navbar-default {
    /*background-color: transparent;*/
    border-color: #2f4050;
}
.navbar-top-links li {
    display: inline-block;
}
.navbar-top-links li:last-child {
    margin-right: 40px;
}
.navbar-top-links li a {
    padding: 20px 10px;
    min-height: 50px;
}

