body{
    background: #202020;
    background-image: url(/images/noise.png);
width: 100%; height: 100%
}
.panel {background: none; border-radius: 0px; border: none}
.panel-default  .panel-heading{
    background: url(/images/bg-header.png);
    background-repeat: repeat-x;
    background-position: top;
    border-color: #444;
    color: #999;
}
.panel-default  .panel-heading a{ color: #eee}

.btn-default{
    background: #303030 url(/images/ui-bg_glass_0_303030_1x400.png) 50% 50% repeat-x;
    color: #808080;
    border-color: #444;

}

.tmsActions .btn{margin-top: 4px;}
.tmsActions .btn:hover{color:#996; border-color: #996;}
#wrapper {
    width: 100%;
    /*overflow-x: hidden;*/
}
.tmsSidebar{
    display: block;
}
.tmsNavbar {
    background: #333;
    background-image: url(/images/bg-pane.png);
    background-position: bottom;
    background-repeat: repeat-x;
    z-index: 101;
    position: absolute;
    height: 100%;
    width: 220px;
}
#page-wrapper{
    position: absolute;
    left: 220px;
    height: 100%;
    /*max-width: 100%;*/
}
.nav > li > a {
    color: #999;
    /*font-weight: 600;*/
    padding: 8px 8px 8px 8px;
}


.blueimp-gallery > .tmsActions {
    position: absolute;
    top: 30px;
    left: 15px;
    color: #fff;
    display: none;

    position:absolute;
    top:120px;
    left: 50px;
    width: 50px;
    text-align: center;
    background-image: url(/images/202020-0.6.png);
    padding-bottom: 4px;
    border-radius: 4px;
}
.blueimp-gallery-controls > .tmsActions {
    display: block;
}

.nav.navbar-right > li > a {
    color: #999;
}
.nav > li.active > a {
    color: #ffffff;
}
.navbar-default .nav > li > a:hover,
.navbar-default .nav > li > a:focus {
    background: #202020;
    background-image: url(/images/noise.png);

    color: white;
}
.nav.navbar-top-links > li > a:hover,
.nav.navbar-top-links > li > a:focus {
    background-image: url(/images/noise.png);
}
.nav > li > a i {
    margin-right: 6px;
}
.navbar {
    border: 0;
}
.navbar-default {
    /*background-color: transparent;*/
    border-color: #444;
    border-right: 1px solid;
}
.navbar-top-links li {
    display: inline-block;
}
.navbar-top-links li:last-child {
    margin-right: 40px;
}
.navbar-top-links li a {
    padding: 20px 10px;
    min-height: 50px;
}
a.tmsThumb {text-decoration:none; color:#777; font-size: 10px; display: inline-block; width: 128px; height: 120%; margin:2px; overflow: hidden}
a.tmsThumb img.tmsThumb {clear: both; display: block;}
